#!/bin/bash

cat > $HOME/gaftenv <<'EOL'
{{ if eq .chezmoi.os "linux" -}}
eval "$(pkgx --internal.use +{{ .packages.servers | join " +" }})"

{{ end -}}
_SHELL=$(ps -{{ if eq .chezmoi.os "windows" }}s{{ end }}p $$ | tail -n 1 | awk '{print $4}')
_SHELL=$(basename ${_SHELL#-})

eval "$(starship init $_SHELL)"
eval "$(zoxide init $_SHELL)"
eval "$(fzf --$_SHELL)"
unset _SHELL
EOL
