.config/bat/themes/Catppuccin Macchiato.tmTheme:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Macchiato.tmTheme

.config/delta/catppuccin.config:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/delta/main/catppuccin.gitconfig

.config/yazi/Catppuccin-macchiato.tmTheme:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Macchiato.tmTheme

.config/yazi/theme.toml:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/yazi/main/themes/macchiato/catppuccin-macchiato-mauve.toml

.vim/after/plugin/fzf.vim:
  type: file
  url: https://raw.githubusercontent.com/junegunn/fzf/master/plugin/fzf.vim

.vim/pack/themes/start/catppuccin:
  type: archive
  url: https://github.com/catppuccin/vim/archive/main.zip
  exact: true
  stripComponents: 1

.vim/pack/plugins/start/editorconfig:
  type: archive
  url: https://github.com/editorconfig/editorconfig-vim/archive/master.zip
  exact: true
  stripComponents: 1

.vim/pack/plugins/start/fugitive:
  type: archive
  url: https://github.com/tpope/vim-fugitive/archive/master.zip
  exact: true
  stripComponents: 1

.vim/pack/plugins/start/fzf:
  type: archive
  url: https://github.com/junegunn/fzf.vim/archive/master.zip
  exact: true
  stripComponents: 1

.vim/pack/plugins/start/gitgutter:
  type: archive
  url: https://github.com/airblade/vim-gitgutter/archive/main.zip
  exact: true
  stripComponents: 1

.vim/pack/plugins/start/lightline:
  type: archive
  url: https://github.com/itchyny/lightline.vim/archive/master.zip
  exact: true
  stripComponents: 1

{{ if eq .chezmoi.os "darwin" }}
.zsh:
  type: archive
  url: https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.zip
  stripComponents: 1
  include: ['*/*.zsh', '*/.version', '*/.revision-hash', '*/highlighters/**']

.zsh/zsh-autosuggestions.zsh:
  type: file
  url: https://raw.githubusercontent.com/zsh-users/zsh-autosuggestions/master/zsh-autosuggestions.zsh

.zsh/zsh-history-substring-search.zsh:
  type: file
  url: https://raw.githubusercontent.com/zsh-users/zsh-history-substring-search/master/zsh-history-substring-search.zsh
{{ end }}
