{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
export HOMEBREW_NO_AUTO_UPDATE=1
export SHELL_SESSION_DID_INIT=1

{{ end -}}

. "$HOME/.atuin/bin/env"

if [ -d "${HOME}/.profile.d" ] ; then
	for script in ${HOME}/.profile.d/*.sh ; do
		echo Sourcing "${script}" ...
		. "${script}"
		echo
	done
fi
