#!/usr/bin/env sh


_SHELL=""
_SUFFIX=""

if [ -n "$BASH_VERSION" ]; then
    _SHELL="bash"
elif [ -n "$ZSH_VERSION" ]; then
    _SHELL="zsh"
fi

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[[ $_SHELL == "bash" ]] && _SUFFIX="handle" || _SUFFIX="handler"


function_exists() {
	declare -f $1 > /dev/null
	return $?
}

command_not_found() {
	if [[ $_SHELL == "bash" ]]; then
		printf "%s: %s: command not found\\n" "$0" "$1" >&2
	else
		printf "zsh: command not found: %s\\n" "$1" >&2
	fi
	return 127
}


eval "command_not_found_${_SUFFIX}() { [ \$(command -v \${0}.exe) ] && \${0}.exe \${@:2} || command_not_found \$@; }"
{{   end -}}
{{ end -}}
if [ -n "$_SHELL" ]; then
	eval "$(mise activate $_SHELL)"
	eval "$(atuin init $_SHELL)"
	eval "$(starship init $_SHELL)"
	eval "$(zoxide init $_SHELL)"
	eval "$(fzf --$_SHELL)"
fi

unset _SHELL
unset _SUFFIX


export EDITOR=${EDITOR:-$(which vim)}
export FZF_DEFAULT_OPTS_FILE="${HOME}/.config/fzf/config"


if [[ $- == *i* ]]; then
	alias ls='eza --git --icons --classify --group-directories-first --time-style=long-iso --group'
	alias ll='ls --long --all --classify'
	alias lg='lazygit --use-config-dir="${HOME}/.config/lazygit"'
	alias cat='bat --paging="always" --wrap="never"'

	function y() {
		local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
		command yazi "$@" --cwd-file="$tmp"
		IFS= read -r -d '' cwd < "$tmp"
		[ "$cwd" != "$PWD" ] && [ -d "$cwd" ] && builtin cd -- "$cwd"
		command rm -f -- "$tmp"
	}

	. $HOME/.aliases-functions
fi
