#!/usr/bin/env sh


_SHELL=""
_SUFFIX=""

if [ -n "$BASH_VERSION" ]; then
    _SHELL="bash"
elif [ -n "$ZSH_VERSION" ]; then
    _SHELL="zsh"
fi

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[[ $_SHELL == "bash" ]] && _SUFFIX="handle" || _SUFFIX="handler"


function_exists() {
	declare -f $1 > /dev/null
	return $?
}

command_not_found() {
	if [[ $_SHELL == "bash" ]]; then
		printf "%s: %s: command not found\\n" "$0" "$1" >&2
	else
		printf "zsh: command not found: %s\\n" "$1" >&2
	fi
	return 127
}


eval "command_not_found_${_SUFFIX}() { [ \$(command -v \${0}.exe) ] && \${0}.exe \${@:2} || command_not_found \$@; }"
{{   end -}}
eval "$(pkgx +{{ .packages.common | join " +" }} +{{ .packages.servers | join " +" }})"

{{ end -}}
if [ -n "$_SHELL" ]; then
	eval "$(starship init $_SHELL)"
	eval "$(zoxide init $_SHELL)"
	eval "$(fzf --$_SHELL)"
fi

unset _SHELL
unset _SUFFIX


export EDITOR=$(which vim)
export FZF_DEFAULT_OPTS_FILE="${HOME}/.config/fzf/config"


alias ls='eza --git --icons --classify --group-directories-first --time-style=long-iso --group'
alias ll='ls --long --all --classify'
alias gl='git log --pretty="format:%Cgreen%h %Cblue%ai %C(auto)%d %s" --graph'
alias lg='lazygit --use-config-dir="${HOME}/.config/lazygit"'
alias cat='bat --paging="always" --wrap="never"'

mkcd() { mkdir -p $1 && cd $1; }
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias ga='git add'
alias gb='git branch'
alias gch='git checkout'
alias gcl='git clone'
alias gc='git commit'
gcm() { git commit -m "$*"; }
gcmp() { git commit -m "$*" && git push; }
alias gd='git diff'
alias gr='git remote'
alias gpu='git pull'
alias gp='git push'
alias gpd='git push origin develop'
alias gpm='git push origin main'
alias gs='git status'
alias gfs='git fetch && git status'
