if ( -Not ( Get-Command scoop -ErrorAction SilentlyContinue ) ) {
	$env:PATH = [System.Environment]::GetEnvironmentVariable("PATH", "Machine") + ";" +
				[System.Environment]::GetEnvironmentVariable("PATH", "User")
}

{{ $packages := concat .packages.common .packages.local .packages.windows -}}
scoop install {{ without $packages "dtop" | join " " }}
