if ( -Not ( Get-Command scoop -ErrorAction SilentlyContinue ) ) {
	$env:PATH = [System.Environment]::GetEnvironmentVariable("PATH", "Machine") + ";" +
				[System.Environment]::GetEnvironmentVariable("PATH", "User")
}

scoop install {{ .packages.common | join " " }} {{ .packages.local | join " " }} {{ .packages.windows | join " " }}
